.form-group {
    margin: 0 0 30px!important;
}

.form-buttons {
    margin: auto;
    margin-bottom: 30px;
}

.btn-primary {
    width: 110px;
    padding-left:  0px!important;
    padding-right: 0px!important;
}