.form-group {
    margin: 0 0 30px!important;
}

.form-buttons {    
    margin: auto;
    margin-bottom: 30px;    
}

.btn-custom {
    margin: .375rem;
    color: inherit;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: .125rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: .84rem 2.14rem;
    font-size: .81rem;
}

.btn-custom:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.btn-primary {
    width: 110px;
    padding-left:  0px!important;
    padding-right: 0px!important;
    background-color: #1266f1 !important;
    color: #fff !important;
}

.btn-default {
    width: 110px;
    padding-left:  0px!important;
    padding-right: 0px!important;
    background-color: #2bbbad !important;
    color: #fff !important;
}