.h2-titulo {
    margin: 0 0 15px;
    font-weight: bold;
    font-size: 1.9rem;
    text-transform: uppercase;
}

.titulo-descricao {
    margin-bottom: 30px;
    line-height: 1.4;
    font-weight: 400;
    font-size: 17px;
}