.map-container {
    width: 100%;
    height: 400px;        
}

.info-window-content {
    margin: 0;    
    max-width: 400px;
}

.info-window-content p {
    margin: 1px 0;
    font-size: 13px;
    color: #666;
}

.info-window-content strong {
    color: #333;
}