.footer-custom {
    background-color: #263238;
    color: white;
    padding-top: .25rem;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 0 !important;
}

.footer-custom .title {
    margin-bottom: .5rem;
    font-weight: 300;
    line-height: 1.2;
    font-size: 1.25rem;
}

.footer-custom ul {
    padding-left: 0;
}

.footer-custom ul li {
    margin-bottom: 0.15rem;
}

.footer-custom .footer-copyright {
    margin-top: 20px;
    overflow: hidden;
    color: hsla(0, 0%, 100%, .6);
    background-color: rgba(0, 0, 0, .2);
}

.footer-custom .footer-copyright a {
    color: white;
    text-decoration: none;
}

.footer-custom .footer-copyright a:hover {
    color: white;
    text-decoration: underline;
}

.footer-custom i {
    margin-right: 8px;
    width: 20px;
    font-size: .9rem;
}